@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

* {
	font-family: "Open Sans";
}

.page-title{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	margin-top: inherit;
	border: inherit;
}

.main-title{
	alignment: center;
	text-align: center;
	margin-top: 0;
	border: 0;
}