@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

* {
	font-family: "Open Sans";
}

html, body {
	margin:0;
	padding:0;
}

li {
	font-size: 18px;
}

h2{
	font-size: 25px;
}

.main-body {
	padding-left: 15px;
}

.page-title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	margin-top: inherit;
	margin-bottom: 10px;
	border: inherit;
}

.main-title {
	background-color: rgb(181,181,181);
	text-align: center;
	border: 0;
}

.return-link {
	font-size: 14px;
}